.App {
  text-align: center;
}

.App .fa {
    font-size: 12px;
}

.App .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.App .header p {
    margin: 0;
}